.container {
 display: flex;
 height: 500px;
 width: 600px;
 background-color: rgb(74, 153, 123);
 flex-direction:row;
 border:rgb(165, 110, 27) ;
 flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
align-content: space-around;

}


.item {
 height: 150px;
width: 100px;
background-color: rgb(48, 98, 64);
border: 1px solid rgb(220, 75, 75);
text-align:  center;
font-family: 'Times New Roman', Times, serif;

}